@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,100,900);
body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	background: #e9f3fb;
}
* {
	box-sizing: border-box;
}
a, a:hover, a:active, a:focus {
	outline: none !important;
	box-shadow: none;
}
button, button:hover, button:active, button:focus {
	outline: none !important;
	box-shadow: none;
}
.logo-wrapper {
	background: #000319;
	min-height: 55px;
}
.logo-wrapper .navbar-brand {
	padding: 5px;
}
.leftpanel-collapsed .content-header-wrap {
	padding-left: 50px;
}
.dropdown.mheader-dropdown button, .dropdown.mheader-dropdown .btn-primary:active, .dropdown.mheader-dropdown .btn-primary.active, .dropdown.mheader-dropdown.open > .dropdown-toggle.btn-primary .dropdown.mheader-dropdown {
	background: transparent;
	border: medium none;
	padding: 3px 5px 2px;
}
.BranchName-dropdown .dropdown-toggle {
	background: transparent;
	border: none;
	font-size: 22px;
	color: rgba(255,255,255,0.8);
	border-right: 1px solid rgba(255,255,255,0.4);
}
/*.BranchName-dropdown.open .dropdown-toggle{background: transparent !important;}
.BranchName-dropdown .dropdown-toggle.btn-primary:active{background: transparent !important;}*/
.BranchName-dropdown {
	margin-right: 20px;
}
.BranchName-dropdown .select-wrapper .select-dropdown {
	background: rgba(255,255,255,0.2);
	color: #fff;
	font-size: 12px;
	padding: 0 0 0 5px;
	margin: 0;
	margin-top: 10px;
}
.BranchName-dropdown .select-wrapper input {
	height: 30px;
}
.BranchName-dropdown .select-wrapper::before {
	top: 13px;
}
.BranchName-dropdown .dropdown-content {
	background: #fff !important;
	padding: 0 !important;
	top: 23px !important;
}
.dropdown.mheader-dropdown button span.user {
	color: #00aaef;
	float: left;
	font-size: 15px;
	padding-right: 10px;
	text-align: right;
}
.dropdown.mheader-dropdown button .user > label {
	color: #94b7df;
	display: block;
	font-size: 12px;
	font-weight: normal;
	line-height: 12px;
}
.dropdown.mheader-dropdown button span.caret {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 7px dashed;
	color: #a3c9f2;
}
.profile-pic img {
	height: 40px;
	width: 40px;
}
.mheader-dropdown .count {
	background: red none repeat scroll 0 0;
	border-radius: 50%;
	font-size: 10px;
	height: 20px;
	line-height: 18px;
	position: absolute;
	right: 15px;
	text-align: center;
	top: 0;
	width: 20px;
}
.contentpanel {
	padding-top: 35px;
}
/*menu search*/
.search-box {
	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	top: 7px;
}
.search-box input {
	background: rgba(255,255,255,0.8);
	border: medium none;
	border-radius: 4px;
	height: 24px;
	line-height: 20px;
	margin: 0;
	padding: 2px 5px;
	width: 159px;
}
.menu-search {
	border-left: 1px solid rgba(27, 85, 140, 0.5);
	cursor: pointer;
	padding-left: 5px;
	position: absolute;
	right: 7px;
	top: 2px;
}
/*content header*/
.content-header-wrap {
	background: #d4e4f3;
	height: 35px;
	left: 0;
	padding-left: 218px;
	position: fixed;
	top: 91px;
	width: 100% !important;
	z-index: 2;
	border-bottom: 1px solid #b4cde9;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
}
.content-header {
	color: #04578c;
	display: inline-block;
	float: left;
	font-size: 16px;
	margin: 8px 0 0 10px;
	text-transform: uppercase;
}
.content-header-btnwrap {
	display: inline-block;
	float: right;
	margin-right: 10px;
}
.content-header-btnwrap > ul {
	float: right;
	margin: 0;
}
.content-header-btnwrap > ul > li {
	display: inline;
	float: right;
	list-style: outside none none;
	/*margin-left: 10px;*/
	position: relative;
}
.content-header-btnwrap > ul > li a i {
	font-size: 20px;
}
.content-header-btnwrap > ul > li > a {
	cursor: pointer;
	display: block;
	padding: 6px 8px;
	text-decoration: none !important;
}
.content-header-btnwrap ul > li >a:hover, .content-header-btnwrap ul > li >a:focus, .content-header-btnwrap ul > li >a:active {
	text-decoration: none;
}
/*sidepanel view*/
.sidepanel-view::before {
	content: "";
	position: fixed;
	background-color: #000;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
}
.sidepanel {
	background: #ccc;
	height: 100%;
	position: fixed;
	right: -400px;
	top: 0;
	min-width: 400px;
	z-index: 99;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
}
.sidePanelView {
	right: 0px;
}
.content-body {
	position: relative;
	overflow: auto;
}
.fixed-wrap {
	width: 100%;
	margin: 0 auto;
	padding: 15px;
	max-width: 1280px;
}
.content-body .mCSB_inside > .mCSB_container {
	margin-right: 0px;
}
/*modal*/
.modal-backdrop {
	background-color: #002e5c;
}
.modal-backdrop.in {
	opacity: 0.9;
}
.modal-scroll {
	overflow: auto;
	overflow: visible;
}
.modal-dialog {
	height: 100%;
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: auto;
	background: #fff;
}
.modal.fade:not(.in) .modal-dialog {
	-webkit-transform: translate3d(25%, 0, 0);
	-moz-transform: translate3d(25%, 0, 0);
	transform: translate3d(25%, 0, 0);
}
.modal-content {
	border-radius: 0;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0);
	outline: 0 none;
	border: none;
}
.modal-dialog.alert-modal {
	height: auto;
	margin: 0 auto;
	position: relative;
	top: 30%;
	width:300px;
	background: #fff;
}
#bookIssueModal .modal-dialog.alert-modal {
    height: auto;
    margin: 0 auto;
    position: relative;
    top: -200px !important;
    width:300px;
    background: #fff;
}
.modal.fade:not(.in) .modal-dialog.alert-modal{
	-webkit-transform: translate3d(0, -25%, 0);
	-moz-transform: translate3d(0, -25%, 0);
	transform: translate3d(0, -25%, 0);
}
.modal.in .modal-dialog.alert-modal {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0, 100%) !important;
  -webkit-transition: transform 0.7s ease-out 0s;
}
.modal-dialog.alert-modal .modal-header {
  padding: 5px 10px;
}
.modal-dialog.alert-modal .modal-header h4{
	font-size:16px;
}
.modal-dialog.alert-modal .modal-header button.close {
  font-size: 14px;
  left: inherit;
  padding:8px;
  right: 0 !important;
}	
.modal-dialog.alert-modal .modal-footer{
	padding:8px;
	text-align:right;
}
/*****Butttons*****/
.blue-btn {
	background: #00aaef;
	color: #fff;
}
.blue-light-btn {
	background: #7fd4f7;
	color: #fff;
}
.blue-btn:hover, .blue-btn:focus, .blue-btn:active {
	background: #029BD7;
	color: #fff;
}
.blue-light-btn:hover, .blue-light-btn:focus, .blue-light-btn:active {
	color: #fff;
	background: #46C5F7;
}
.modal-header {
	background: #000;
	padding: 10px 15px;
	position: relative;
}
.modal-header button.close {
	background: #000;
	color: #fff;
	left: -43px;
	opacity: 0.5;
	padding: 11px;
	top: 3px;
	position: absolute;
}
.modal-header button.close:hover {
	background: #000;
	color: #fff;
	left: -43px;
	opacity: 1;
	padding: 11px;
	top: 3px;
}
.modal-title {
	color: #fff;
	font-weight: bold;
}
.content-body .mCustomScrollBox > .mCSB_container {
	min-height: 500px;
}
.modal-footer {
	border: medium none;
	text-align: left;
	background: #c5dbed;
}
.heading {
	color: #04578c;
	font-size: 16px;
	font-weight: bold;
}
.heading-uppercase {
	color: #04578c;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
	border-top: 1px solid #CCE4F2;
	border-bottom: 1px solid #CCE4F2;
}
/********custom switcher**********/
.onoffswitch {
	position: relative;
	width: 70px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.onoffswitch.onoffswitch-sm {
	position: relative;
	width: 55px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	/*border: 2px solid #858484;  border-radius: 20px;*/
	height: 30px;
	box-shadow: 0 0 2px 1px #c9c9c9;
}
.onoffswitch.onoffswitch-sm .onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	/*border: 2px solid #858484; border-radius: 20px; */
	height: 21px;
	box-shadow: 0 0 2px 1px #c9c9c9;
}
.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
	-webkit-transition: margin 0.3s ease-in 0s;
	-moz-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 30px;
	padding: 0;
	line-height: 30px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch.onoffswitch-sm .onoffswitch-inner:before, .onoffswitch.onoffswitch-sm .onoffswitch-inner:after {
	line-height: 22px;
}
.onoffswitch-inner::before {
	background-color: #3E991C;
	color: #ffffff;
	content: "ON";
	/*content: url("../images/switch-tic.png");*/
	padding-left: 15px;
	padding-top: 0px;
}
.onoffswitch.onoffswitch-sm .onoffswitch-inner::before {
	padding-left: 10px;
}
.onoffswitch-inner::after {
	background-color: #D51919;
	color: #ffffff;
	content: "OFF";
	/* content: url("../images/switch-times.png");*/
	padding-right: 15px;
	padding-top: 0px;
	text-align: right;
}
.onoffswitch.onoffswitch-sm .onoffswitch-inner::after {
	padding-top: 0px;
	padding-right: 10px;
}
.onoffswitch-switch {
	background: #ffffff;
	/* border: 2px solid #858484; */
	border-radius: 20px;
	bottom: 0;
	display: block;
	height: 20px;
	margin: 3px 5px 3px 3px;
	position: absolute;
	right: 38px;
	top: 2px;
	transition: all 0.3s ease-in 0s;
	-webkit-transition: all 0.3s ease-in 0s;
	-moz-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
	width: 20px;
}
.onoffswitch.onoffswitch-sm .onoffswitch-switch {
	background: #002953;
	/* border: 2px solid #858484; */
	height: 15px;
	margin: 1px 5px 3px 3px;
	right: 30px;
	width: 15px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px;
}
/*Notification Timer*/
.timer-wrapper, .timer-wrapper * {
	box-sizing: border-box;
}
.timer-wrapper {
	background: none repeat scroll 0 0 transparent;
	height: 16px;
	position: absolute;
	width: 16px;
	left: 5px;
	top: 50%;
	margin-top: -7px
}
.pie {
	width: 50%;
	height: 100%;
	transform-origin: 100% 50%;
	position: absolute;
	background: #08C;
	border: 1px solid #232323;
}
.timer-wrapper .spinner {
	border-radius: 100% 0 0 100% / 50% 0 0 50%;
	z-index: 200;
	border-right: none;/*animation: rota 10s linear infinite;*/
}
.timer-wrapper .spinner:after {
	position: absolute;
	width: 10px;
	height: 10px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	top: 10px;
	right: 10px;
	content: "";
	display: none;
}
.filler {
	border-radius: 0 100% 100% 0 / 0 50% 50% 0;
	left: 50%;
	opacity: 0;
	z-index: 100;/*animation: fill 10s steps(1, end) infinite;*/
	border-left: none;
}
.mask {
	width: 50%;
	height: 100%;
	position: absolute;
	background: inherit;
	opacity: 1;
	z-index: 300;
	background: #ccc;/*animation: mask 10s steps(1, end) infinite;*/
}
.alertify-log-error .mask {
	background: #E32056;
}
.alertify-log-success .mask {
	background: #3CB878;
}
.alertify-log-info .mask {
	background: #4A90FF;
}
.alertify-log-warn .mask {
	background: #FBD107;
	color: #000 !important;
}
@keyframes rota {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}
@keyframes mask {
0% {
opacity: 1;
}
50%, 100% {
opacity: 0;
}
}
@keyframes fill {
0% {
opacity: 0;
}
50%, 100% {
opacity: 1;
}
}
@-webkit-keyframes rota {
0% {
-webkit-transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
}
}
@-webkit-keyframes mask {
0% {
opacity: 1;
}
50%, 100% {
opacity: 0;
}
}
@-webkit-keyframes fill {
0% {
opacity: 0;
}
50%, 100% {
opacity: 1;
}
}
@-moz-keyframes rota {
0% {
-moz-transform: rotate(0deg);
}
100% {
-moz-transform: rotate(360deg);
}
}
@-moz-keyframes mask {
0% {
opacity: 1;
}
50%, 100% {
opacity: 0;
}
}
@-moz-keyframes fill {
0% {
opacity: 0;
}
50%, 100% {
opacity: 1;
}
}
@-ms-keyframes rota {
0% {
-ms-transform: rotate(0deg);
}
100% {
-ms-transform: rotate(360deg);
}
}
@-ms-keyframes mask {
0% {
opacity: 1;
}
50%, 100% {
opacity: 0;
}
}
@-ms-keyframes fill {
0% {
opacity: 0;
}
50%, 100% {
opacity: 1;
}
}
@-o-keyframes rota {
0% {
-o-transform: rotate(0deg);
}
100% {
-o-transform: rotate(360deg);
}
}
@-o-keyframes mask {
0% {
opacity: 1;
}
50%, 100% {
opacity: 0;
}
}
@-o-keyframes fill {
0% {
opacity: 0;
}
50%, 100% {
opacity: 1;
}
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) {
::i-block-chrome, .timer-wrapper {
display:none
}
}
/*Notification Timer Ends*/
/*Alert styles start*/
.alertify {
	background: #FFF;
	border: 10px solid #333;
	border: 10px solid rgba(0,0,0,.7);
	border-radius: 8px;
	box-shadow: 0 3px 3px rgba(0,0,0,.3);
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.alertify-text {
	border: 1px solid #CCC;
	padding: 10px;
	border-radius: 4px;
}
.alertify-button {
	border-radius: 4px;
	color: #FFF;
	padding: 6px 15px;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(0,0,0,.5);
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,.5);
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}
.alertify-button:hover, .alertify-button:focus {
	outline: none;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -o-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
}
.alertify-button:focus {
	box-shadow: 0 0 15px #2B72D5;
}
.alertify-button:active {
	position: relative;
	box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.alertify-button-cancel, .alertify-button-cancel:hover, .alertify-button-cancel:focus {
	background-color: #FE1A00;
	border: 1px solid #D83526;
}
.alertify-button-ok, .alertify-button-ok:hover, .alertify-button-ok:focus {
	background-color: #5CB811;
	border: 1px solid #3B7808;
}
.alertify-log {
	background: #1F1F1F;
	background: rgba(0,0,0,.9);
	padding: 8px 8px 8px 45px;
	border-radius: 4px;
	color: #FFF;
	font-size: 12px;
}
.alertify-log-error {
	background: #E32056;
}
.alertify-log-success {
	background: #3CB878;
}
.alertify-log-info {
	background: #4A90FF;
}
.alertify-log-warn {
	background: #FBD107;
	color: #000 !important;
}
.alertify, .alertify-show, .alertify-log {
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	-moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	-ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	-o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}
.alertify-hide {
	-webkit-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	-moz-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	-ms-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	-o-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-log-hide {
	-webkit-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	-moz-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	-ms-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	-o-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-cover {
	position: fixed;
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
	filter: alpha(opacity=0);
	opacity: 0;
}
.alertify-cover-hidden {
	display: none;
}
.alertify {
	position: fixed;
	z-index: 99999;
	top: 50px;
	left: 50%;
	width: 550px;
	margin-left: -275px;
	opacity: 1;
}
.alertify-hidden {
	-webkit-transform: translate(0, -150px);
	-moz-transform: translate(0, -150px);
	-ms-transform: translate(0, -150px);
	-o-transform: translate(0, -150px);
	transform: translate(0, -150px);
	opacity: 0;
	display: none;
}
:root *> .alertify-hidden {
	display: block;
	visibility: hidden;
}
.alertify-logs {
	position: fixed;
	z-index: 5000;
	bottom: 10px;
	right: 10px;
	max-width: 460px;
	min-width: 200px;
}
.alertify-logs-hidden {
	display: none;
}
.alertify-log {
	display: block;
	margin-top: 10px;
	position: relative;
	right: -300px;
	opacity: 0;
}
.alertify-log-show {
	right: 0;
	opacity: 1;
}
.alertify-log-hide {
	-webkit-transform: translate(300px, 0);
	-moz-transform: translate(300px, 0);
	-ms-transform: translate(300px, 0);
	-o-transform: translate(300px, 0);
	transform: translate(300px, 0);
	opacity: 0;
}
.alertify-dialog {
	padding: 25px;
}
.alertify-resetFocus {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.alertify-inner {
	text-align: center;
}
.alertify-text {
	margin-bottom: 15px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 100%;
}
.alertify-button, .alertify-button:hover, .alertify-button:active, .alertify-button:visited {
	background: none;
	text-decoration: none;
	border: none;
	line-height: 1.5;
	font-size: 100%;
	display: inline-block;
	cursor: pointer;
	margin-left: 5px;
}
@media only screen and (max-width: 1420px) {
.employee-list, .selected-list {
	width: 200px;
}
.show-all-employees > li > a > span, .responsible-emp > li > a > span, .show-selected > li > a > span {
	width: 125px;
}
}
@media only screen and (max-width: 680px) {
.alertify, .alertify-logs {
	width: 90%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.alertify {
	left: 5%;
	margin: 0;
}
}
.alertify-log-error:before {
	content: "\f057";
	font-family: FontAwesome;
	margin-left: -20px;
	margin-right: 5px;
	font-size: 14px
}
.alertify-log-success:before {
	content: "\f058";
	font-family: FontAwesome;
	margin-left: -20px;
	margin-right: 5px;
	font-size: 14px
}
.alertify-log-info:before {
	content: "\f05a";
	font-family: FontAwesome;
	margin-left: -20px;
	margin-right: 5px;
	font-size: 14px
}
.alertify-log-warn:before {
	content: "\f06a";
	font-family: FontAwesome;
	margin-left: -20px;
	margin-right: 5px;
	font-size: 14px
}/*for triangle - \f071*/
/*Alert styles end*/
.ajs-success .mask {
	background: #62C079;
}
.ajs-error .mask {
	background: #DA6464;
}
.ajs-warning .mask {
	background: #EC971F;
}
.ajs-info .mask {
	background: #286090;
}
.alertify-notifier .ajs-message.ajs-visible {
	padding: 8px;
	padding-left: 30px;
	border-radius: 5px;
	color: #fff;
}
.ajs-message.ajs-warning.ajs-visible {
	background: #EC971F;
}
.ajs-message.ajs-info.ajs-visible {
	background: #286090;
}
/******** customtables*********/
.table-textfiled {
	border: 1px solid #e8e8e8 !important;
	display: inline;
	height: 18px !important;
	margin: 0 0 0 10px !important;
	padding: 2px !important;
	width: 190px !important;
}
.pale-green-btn {
	background: #d2f4cd;
	padding: 4px 6px;
}
.pale-green-btn i {
	font-weight: bold;
	margin-left: 5px;
}
.custom-dropdown-style .dropdown-menu {
	background: #d4e4f3;
}
.custom-dropdown-style .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #e5eff8;
	color: #205080;
	text-decoration: none;
}
.required-msg {
	bottom: 5px !important;
	color: Red !important;
	font-size: 12px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.batch-info-list .batch-text {
	display: block;
}
.batch-info-list {
	display: table-cell;
	width: 1%;
	padding-top: 10px;
}
.branches-list-view .batch-info {
	height: 85px;
	margin: 0;
}
.bg-pink-dark {
	background: #CC5272;
}
.bg-skyblue-dark {
	background: #62BBBF;
}
.branches-list-view .batch-num {
	font-size: 16px;
}
.branches-info .icon-data {
	display: block;
	float: none;
}
.bg-white {
	background: #fff;
}
.widget-right .userworking-info-wrap {
	border-top: 1px solid #f5f2f2;
	margin: 0;
	padding: 10px 5px;
}
.userworking-info-wrap.inactive-users {
	opacity: 0.5;
}
.label-hr label, .label-hr span {
	display: inline;
}
.label-hr label {
	width: 100px;
}
.label-hr {
	padding-left: 55px;
}
.label-hr span {
	font-size: 12px;
}
.student-enrolled-list {
	border-bottom: 1px solid rgba(169,210,232,0.3);
	padding: 8px;
}
.done {
	color: green;
}
.notdone {
	color: red;
}
.widget-right .filter-search input {
	border: 1px solid #a9d2e8;
	padding-right: 30px !important;
}
.widget-right .filter-search .search-icon {
	font-weight: normal;
	color: #a9d2e8;
}
.searchbox input {
	margin: 0;
	padding: 10px 30px 10px 15px;
	background: #1C3249;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.23);
	height: 41px;
}
.search-menu .showSearch {
	position: absolute;
	width: 50px;
}
.nav-bracket > li > .showSearch {
	display: none;
}
.searchbox .fa.fa-search {
	position: relative;
	top: -29px;
}
.leftpanel-collapsed .nav-bracket > li > .showSearch {
	display: block;
}
.leftpanel-collapsed .searchbox {
	display: none;
}
.search-menu.nav-hover .searchbox {
	background: #3F3F3F;
	left: 50px;
	position: fixed !important;
	top: 91px;
	display: block;
	height: 41px;
}
.permission-menu input {
	height: 30px;
	margin: 0;
	padding: 5px;
	width: 53px;
}
.sort-icon i {
	color: #205081;
	margin-right: 8px;
}
.content-header-search {
	background: #C0D7ED!important;
	border: medium none !important;
	color: #333;
	padding: 5px 30px 5px 10px !important;
	width: 250px !important;
	color: #205081 !important;
	font-size: 15px !important;
	height: 34px;
}
.content-header-search::-moz-placeholder {
color:#5D90C5 !important;
}
.content-header-search::-webkit-input-placeholder {
color:#5D90C5 !important;
}
.content-header-search:-ms-input-placeholder {
color:#5D90C5 !important;
}
.content-header-search-btn {
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 0;
}
.alert.alert-danger.alert-dismissible {
	padding: 10px 35px 10px 10px;
}
.custom-dropdown-style a {
	display: block;
}
.font-normal {
	font-weight: normal !important;
}
.status-label {
	display: inline-block;
	min-width: 50px;
	padding: 3px 5px;
}
.availblestock {
	background: #b1cde9;
	padding: 5px;
	color: #fff;
}
.requiredstock {
	background: #cb0e12;
	padding: 5px;
	color: #fff;
}
.books-not-issued {
	color: gray;
}
.books-issued {
	color: green;
}
.books-partial-issued {
	color: orange;
}
.fee-due {
	color: gray;
}
.fee-paid {
	color: green;
}
.fee-partaial-paid {
	color: orange;
}
.permission-heading {
	color: #04578c;
	font-size: 18px;
	text-transform: uppercase;
}
.menu-item > div {
	display: inline-block;
}
.menu-text {
	height: 48px;
	margin-left: 5px;
	padding-top: 5px;
	vertical-align: middle;
}
.ordno label {
	display: block;
}
.menu-text .menu-check {
	color: #04578c;
	font-size: 16px !important;
}
.submenu-item {
	padding-left: 31px;
}
.menu-wrapper {
	border-bottom: 1px dotted #ccc;
}
.filter-search.table-search input {
	padding-right: 30px;
	height: 32px;
}
a:hover, a:focus, a:active {
	text-decoration: none !important;
}
.usersdays-left {
	background: #349C3D;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	position: absolute;
	right: 26px;
	text-align: center;
	top: 10px;
	width: 25px;
}
.hide-data .input-field input {
	margin-bottom: 20px;
}
.menu-check.mmenu {
	text-transform: uppercase;
	font-size: 18px !important;
}
.popover-span {
	width: 85%;
	display: inline-block;
}
.popover-label {
	min-width: 80px;
}
.required {
	border: 1px solid red !important;
}
.file-path-wrapper .required-msg {
	bottom: 5px;
	left: inherit;
	right: 0;
	top: inherit;
}
.select-wrapper + .required-msg {
	bottom: -15px !important;
	top: inherit;
}
.coldCall-addCompanyWrap.company-name-wrap .input-field span.required-msg {
	bottom: -45px !important;
	right: 42px;
	position: absolute;
}
.select-wrapper input.select-dropdown.required {
	border: 1px solid red !important;
}
.permissions-menu-actions {
	padding-bottom: 10px;
}
.no-data {
	color: #ccc;
	font-size: 16px;
}
.sidebar-head .heading-uppercase {
	padding: 10px;
}
.sidebar-contenet.white-bg {
	padding: 10px;
}
.leadlabel {
	font-size: 16px;
	text-align: center;
	width: 110px;
}
.leadno {
	font-size: 18px;
	text-align: center;
	width: 110px;
	font-weight: bold;
}
.other-info-check-list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
a.lead-pinfo-edit-btn {
	cursor: pointer !important;
	padding: 5px;
	position: absolute;
	right: 35px;
	top: 10px;
	z-index: 5;
}
a.lead-pinfo-add-btn {
	cursor: pointer !important;
	padding: 5px;
	position: absolute;
	right: 8px;
	top: 10px;
	z-index: 5;
}
a.lead-pinfo-delete-btn {
	cursor: pointer !important;
	padding: 5px;
	position: absolute;
	right: 60px;
	top: 10px;
	z-index: 5;
}
a.lead-pinfo-edit-btn i {
	display: block;
}
.lead-pinfo-edit-btn:hover i {
	color: #333;
}
.search-filter .select-wrapper {
	min-width: 165px;
}
.BranchName-dropdown .select-wrapper {
	background: transparent;
}
.custom-dropdown-style a:hover i {
	color: #205081;
}
.content-header-btnwrap > ul > li:hover {
	background: #b8d2ea;
}
.content-header-btnwrap > ul > li:hover {
	background: #b8d2ea;
	transition: all ease 0.3s;
	-weblit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
}
.content-header-search {
	margin: 0 !important;
}
.mheader-dropdown.open .btn-primary:focus {
	background: none;
}
.input-field.search-filter.custom-select .select-wrapper input.active {
	cursor: pointer !important;
}
.leadsStage-input {
	height: 30px;
	margin-bottom: 0 !important;
	padding: 5px !important;
	width: 50px !important;
}
.leadStage-description {
	display: inline-block;
	width: 89%;
	border: 1px solid #eaeaea;
	padding: 0;
	height: 50px;
	padding: 10px;
}
.leadStage-description textarea {
	border: none;
}
.leadStage-level, .OldleadStage-level {
	background: #CFF5DF;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0 !important;
	text-align: center;
	vertical-align: top;
	width: 10%;
	font-size: 14px;
	font-weight: bold;
}
.OldleadStage-level {
	background: #F5DECF;
}
.leadStage-level + .leadStage-description {
	background: #fff;
	border: 1px solid #CFF5DF;
}/*#F1FFF7*/
.OldleadStage-level + .leadStage-description {
	background: #fff;
	border: 1px solid #F5DECF;
}/*#FFFAF8*/
.leadStage-description .input-field textarea {
	margin: 0;
	padding: 0;
	background: #F1FFF7;
	height: 63px
}
.OldleadStage-level + .leadStage-description .input-field textarea {
	margin: 0;
	padding: 0;
	background: #FFFAF8;
}
.lead-day {
	text-align: center;
	width: 80px;
}
.call-username {
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 9px;
	width: 88%;
}
.call-userrole {
	color: #1bbfff;
	display: block;
	line-height: 10px;
	margin-left: 10px;
	padding-bottom: 5px;
	width: 95%;
}
.call-avg {
	background: #fff;
	border: 1px solid #f5decf;
	display: inline-block;
	margin-right: 8px;
	text-align: center;
	width: 46%;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
}
.call-avg i {
	background: #f5decf;
	float: left;
	height: 30px;
	line-height: 30px;
	width: 30px;
}
.calls {
	background: #fff;
	border: 1px solid #cff5df;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	width: 46%;
	line-height: 30px;
	font-size: 14px;
}
.calls i {
	background: #cff5df;
	float: left;
	height: 30px;
	line-height: 30px;
	width: 30px;
}
.userimage-div {
	position: relative;
	width: 220px;
}
.call-user {
	/* background: #D4E4F3!important;
  padding-bottom: 5px;*/
	min-width: 150px;
	float: right;
	position: relative;
	width: 100%;
	padding-left: 65px;
}
.call-user a {
	position: absolute;
	top: 5px;
	right: 0;
	color: #205081;
}
/*.table-custom.leadsstage-table tbody tr:nth-child(2n+1) td {
  background: #f6f6f6;
}
.table-custom.leadsstage-table tbody tr:nth-child(2n+1):hover td{background:#CCE4F2;}*/
.callschedule-input {
	margin: 0 !important;
	padding: 5px !important;
	width: 40px !important;
	margin: 23px 0 0 !important;
}
.table-custom.callschedule-table th, .table-custom.callschedule-table td {
	text-align: center;/*width:40px !important;*/
}
.table-custom.callschedule-table td:first-child {
	text-align: left;
}
.table-custom.callschedule-table th:last-child {
/*text-align: right;*/
}
.remaining-tr td {
	text-align: right;
}
/*.table-custom.callschedule-table tbody tr:nth-child(2n+1) td {
  background: #f9f9f9;
}
.table-custom.callschedule-table tbody tr  td:nth-child(2n+1){
  background: #f9f9f9;
}
.table-custom.callschedule-table tbody tr:nth-child(2n+1):hover td{background:#CCE4F2;}*/

.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #e9f3fb!important;
}
.table-custom.callschedule-table {
	overflow: hidden;
}
.table-custom.callschedule-table tr:hover td {
	background-color: #CCE4F2 !important;
}
.table-custom.callschedule-table td, .table-custom.callschedule-table th {
	position: relative;
}
/*.table-custom.callschedule-table td{background:transparent !important;}
.table-custom.callschedule-table td:hover::after,
.table-custom.callschedule-table th:hover::after {
  content: "";
  position: absolute;
  background-color: #CCE4F2;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}*/
.callschedule-dtfilter .input-field input {
	margin-bottom: 6px;
}
.callschedule-dtfilter .input-field {
	margin-left: 15px;
}
.table-custom.callschedule-table > thead > tr > th {
	border-top: 1px solid #cce4f2;
	border-bottom: 1px solid #cce4f2;
}
.table-custom.callschedule-table > thead > tr > th:first-child {
	border-left: none;
}
.table-custom.callschedule-table > thead > tr:nth-child(3) > th {
	border-top: none;
}
.image-user {
	display: inline-block;
	float: left;
	line-height: 53px;
	position: absolute;
	left: 0;
	top: 0;
}
.image-user img {
	height: 100%;
	width: 100%;
}
.icons-remember {
	display: inline-block;
	font-size: 12px;
	color: #04578c;
	margin: 45px 20px 0px 30px;
}
.calls-perday {
	background: #f5decf;
	display: inline-block;
	line-height: 20px;
	font-size: 10px;
	text-align: center;
	width: 20px;
}
.calls-inhand {
	background: #cff5df;
	width: 20px;
	display: inline-block;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	font-size: 10px;
}
.current-batch {
	border: medium none;
}
.table-custom.callschedule-table > thead > tr > th > span {
	background: #00aaef;
	padding: 0px 1px;
	display: block;
	text-align: center;
	color: #fff;
}
.table-custom.callschedule-table > thead > tr > th > span i {
	padding: 0 3px;
	font-size: 10px;
}
.table.table-responsive.table-custom.callschedule-table tbody .userimage-div .image-user {
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	width: 60px;
	height: 60px;
}
.table.table-responsive.table-custom.callschedule-table tbody .call-user {
	float: left;
}
.border-r-none {
	border-right: none !important;
}
.td-nobg td {
	background: none !important;
}
.input-righttext {
	text-align: right !important;
	margin: 0 !important;
}
.table.table-responsive.table-custom.callschedule-table thead tr:first-child th {
	border-bottom: none !important;
}
.calls-schedule-input.input-righttext {
	padding: 5px 10px;
}
.nav.nav-tabs.feecollection-tabs li {
	display: block;
	width: 100%;
}
.nav.nav-tabs.feecollection-tabs {
	width: 25%;
}
.nav.nav-tabs.feecollection-tabs + .tab-content {
	width: 74%;
}
.nav.nav-tabs.feecollection-tabs li a {
	background: #f6f6f6;
	padding: 16px 10px;
	border-radius: 0;
}
.nav.nav-tabs.feecollection-tabs li a > span {
	display: block !important;
}
.img-container {
	min-height: 105px;
	padding-left: 105px;
	position: relative;
}
.img-wrapper {
	background: #ebf2f8;
	height: 104px;
	left: 15px;
	position: absolute;
	top: 0;
	width: 90px;
	text-align: center;
	padding-top: 10px;
}
.img-wrapper img {
	height: 70px;
	width: 70px;
}
.img-wrapper .img-text {
	background: #01588e;
	color: #fff;
	display: block;
	padding: 1px 5px 2px;
}
.nav.nav-tabs.feecollection-tabs li.active a {
	background: #01588e;
	color: #fff;
}
.fee-creation-greenCheck {
	background: #7CC343;
	border-radius: 50%;
	float: right;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 25px;
}
.nav.nav-tabs.feecollection-tabs li a > span {
	width: 110px;
}
.fee-creation-amount {
	display: inline-block;
	text-align: right;
	width: 80px;
}
.cheque-details, .dd-details, .cc-details {
	display: none;
}
.feeStructureCreate-groupname, .feeStructureCreate-companyname {
	display: none;
}
.feeCollectioncreate-tabs {
	display: none;
}
#feeCollectionCreate-studentDetails {
	display: none;
}
.img-wrapper.img-wrapper-leadinfo {
	width: 110px;
	margin-top: 10px;
}
.img-wrapper.img-wrapper-leadinfo img {
	height: 80px;
	width: 80px;
}
/*--------------Reports------------------*/
.head-label {
	color: #4a5b79;
	font-size: 12px;
}
.boxed-tags {
	font-size: 12px;
	overflow: hidden;
	padding-left: 2px;
	padding-top: 5px;
	width: 100%;
}
.boxed-tags > a {
	border: 1px solid #acacac;
	color: #4c4c4c;
	display: inline-block;
	float: left;
	font-size: 11px;
	height: 21px !important;
	margin-left: -1px;
	margin-top: -1px;
	max-width: 100%;
	overflow: hidden;
	padding: 0 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #fff;
	cursor: pointer;
}
.boxed-tags > a.active {
	background: #C2F7D8;
}
.multiple-checkbox.reports-filters-check label {
	display: inline-block;
	margin-right: 15px;
}
.reports-filter-wrapper {
	padding-bottom: 15px;
}
.filter-selectall-wrap a {
	font-size: 12px;
}
.multiple-checkbox.reports-filters-check label {
	margin: 0;
}
.bborder-top {
	border-top: 1px solid #cce4f2 !important;
}
.bborder-right {
	border-right: 1px solid #cce4f2 !important;
}
.bborder-bottom {
	border-bottom: 1px solid #cce4f2 !important;
}
.bborder-left {
	border-left: 1px solid #cce4f2 !important;
}
.highcharts-button {
	display: none;
}
.download-excel:hover {
	background: #D4E4F3;
}
.table.table-custom.adhoc-attendance tr th {
	border-top: 1px solid #cce4f2;
	border-bottom: 1px solid #cce4f2;
}
.table.table-custom.adhoc-attendance tr:nth-child(3) th {
	border-top: none;
}
.rprt-todaydue {
	color: green;
	font-weight: bold;
}
.rprt-due {
	color: red;
	font-weight: bold;
}
.rprt-nodue {
	color: orange;
	font-weight: bold;
}
/*.table.table-inside.branchwise-report-table thead tr th .branchwise-report-innertable th{
  text-align: right;
  width: 6%;
}
.table.table-inside.branchwise-report-table tbody tr .branchwise-report-innertable td {
  text-align: right;
  width: 6%;
}
.table.table-inside.branchwise-report-table thead tr th .branchwise-report-innertable th:first-child{width:10% !important;text-align:left !important;}
.table.table-inside.branchwise-report-table tbody tr .branchwise-report-innertable td:first-child{width:10% !important;text-align:left !important;}*/
.spinner-loading {
	display: none;
	min-width: 0px;
	-webkit-transition: opacity 0.25s, max-width 0.45s;
	-moz-transition: opacity 0.25s, max-width 0.45s;
	-o-transition: opacity 0.25s, max-width 0.45s;
	transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}
.spinner-loading img {
	border: none;
	margin-left: 15px;
	width: 40px;
	height: 30px;
}
.has-spinner.active {
	cursor: progress;
	pointer-events: none;
}
.has-spinner.active .spinner-loading {
	display: inline-block;
	min-width: 100px; /* More than it will ever come, notice that this affects on animation duration */
}
.paid-payment, .deleted-payment, .overall-payment {
	display: inline-block;
	padding: 5px 50px;
	position: relative;
}
.paid-payment::after {
	content: "+";
	font-size: 27px;
	position: absolute;
	right: 0;
	top: 5px;
}
.deleted-payment::after {
	content: "=";
	font-size: 27px;
	position: absolute;
	right: 0;
	top: 5px;
}
.table-scroll {
	overflow: auto;
	max-height: 114px;
	min-height: 50px;
}
/*.reportFilter-selectall {
	background: #fff;
	border: 1px solid #8AE389;
	border-radius: 15px;
	color: #000;
	display: inline-block;
	height: 16px;
	line-height: 12px;
	margin-right: 7px;
	margin-top: 3px;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
	width: 16px;
}*/
.reportFilter-selectall {
	background: #63cd85;
	border: 1px solid #007E28;
	border-radius: 15px;
	color: #000;
	display: inline-block;
	height: 15px;
	line-height: 11px;
	margin-right: 7px;
	margin-top: 3px;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
	width: 15px;
}
.reportFilter-selectall i, .reportFilter-unselectall i {
	font-size: 8px;
	font-weight: bold;
	color: #fff !important;
}
.reportFilter-selectall:hover i, .reportFilter-unselectall:hover i {
	color: #fff !important;
}
.reportFilter-selectall:hover, .reportFilter-unselectall:hover {
	background: #01588E;
	border: 1px solid #01588E;
}
/*.reportFilter-unselectall {
	background: #fff;
	border: 1px solid #DCA0A0;
	border-radius: 15px;
	color: #000;
	display: inline-block;
	height: 16px;
	line-height: 12px;
	margin-right: 7px;
	margin-top: 3px;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
	width: 16px;
}*/
.reportFilter-unselectall {
	background: #f58c8c;
	border: 1px solid #C80303;
	border-radius: 15px;
	color: #000;
	display: inline-block;
	height: 15px;
	line-height: 11px;
	margin-right: 7px;
	margin-top: 3px;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
	width: 15px;
}
.branch-img-wrap {
	height: 100px;
	width: 100px;
	padding-top: 10px;
}
.branch-img-wrap img {
	width: 100%;
}
.branch-info-wrap {
	padding-left: 100px;
}
.disabled-branchview td {
	color: #9CA6CC !important;
	background-color: #FAFCFE !important;
}
.disabled-branchview td:first-child a {
	color: #8EB6D9 !important;
}
.disabled-courseview td {
	opacity: 0.5 !important;
	pointer-events: none !important;
	background: #F4F9FD;
}
.batch-info-wrap {
	width: 25%;
	float: left;
	position: relative;
	height:85px;
	overflow:hidden;
}
.branch-iocn-wrap {
	/*background: #f28b05;*/
	height: 85px;
	width: 90px;
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
}
.branch-iocn-wrap-img {
	/*background: #d77900;*/
	border-radius: 50%;
	display: inline-block;
	height: 45px;
	line-height: 39px;
	margin: 0px 10px 0;
	text-align: center !important;
	width: 45px;
}
.branch-info-right {
	padding-left: 90px;
}
.branch-info-right .batch-text {
	color: #4A6E93;
	display: inline-block;
	float: left;
	text-align: left;
}
.branch-iocn-wrap-text {
	display: block;
	line-height: 15px;
}
.branch-info-right .batch-num {
	display: inline-block;
	text-align: right;
	width: inherit;
}
.branches-list-view .branch-info-right .batch-num {
	display: inline-block;
	float: right;
	padding: 0;
	text-align: right;
	width: inherit;
	color: #01588e;
}
.l-height {
	line-height: 21px !important;
}
.contact-legends span i {
	margin-top: -2px;
}
.col-5 {
	float: left;
	width: 20%;
	position: relative;
}
.coldcall-info {
	display: none;
}
#callStatusInfo, #contactType-corporate-wrap, #contactType-Institution-wrap, #coldcalling-branch, .coldCall-addCompanyWrap {
	display: none;
}
/*Data Table -- Pagination*/
.border-bottom-none {
	border-bottom: none !important
}
.border-top-none {
	border-top: none !important
}
.border-left-none {
	border-left: none !important
}
.border-right-none {
	border-right: none !important
}
.table-inside > tbody > tr > td {
	font-size: 12px;
}
table.dataTable.no-footer {
	border-bottom: 1px solid #cce4f2;
}
.dataTables_filter input {
	margin: 0 !important;
	padding: 2px 30px 2px 10px;
	font-weight: normal;
	color: #01588E;
	border: 1px solid #b4cde9;
}
.dataTables_filter label {
	position: relative;
}
.dataTables_filter label span {
	background: #d4e4f3;
	display: block;
	padding: 4px;
	position: absolute;
	right: 1px;
	top: 1px;
	color: #01588E;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 2px 7px !important;
	font-size: 11px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: rgba(1, 88, 142, 0.9) !important;
	border: 1px solid rgba(1, 88, 142, 1) !important;
	;
	color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: rgba(1, 88, 142, 0.5) !important;
	border: 1px solid rgba(1, 88, 142, 1) !important;
	;
	color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	border: 1px solid #9ec3e4;
}
.paginate_button.next.disabled:hover, .paginate_button.previous.disabled:hover {
	background: none!important;
	border: 1px solid transparent !important;
}
.dataTables_wrapper .dataTables_paginate > a.disabled {
	display: none;
}
.table > thead > tr > th {
	border-bottom: 1px solid #cce4f2 !important;/*border-top: 1px solid #cce4f2 !important;*/
}
.line-height21 {
	line-height: 21px !important;
}
.img-upload-btn {
	background: #A9A4A4;
	color: #fff;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	width: 22px;
	height: 22px;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	opacity: 0;
}
.img-wrapper.img-wrapper-leadinfo.light-blue3-bg.img-upload:hover .img-upload-btn {
	opacity: 1;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
}
.img-upload-btn input {
	height: 22px;
	left: 0;
	position: absolute;
	top: 0;
	width: 22px;
	opacity: 0;
}
.tabs-section.tabs-section-justified .nav-tabs.nav-justified > li {
	display: table-cell;
	width: 1%;
}
.tabs-section.tabs-section-justified .nav-tabs li.active a, .tabs-section.tabs-section-justified .nav-tabs li.active a:hover, .tabs-section.tabs-section-justified .nav-tabs li.active a:focus {
	border: none;
	border-bottom: 3px solid #01568c !important;
	color: #06578e;
	font-weight: 500;
}
.scroll_tab_inner li a {
	text-align: center;
}
.scroll_tab_left_button:hover {
	background: #D4E4F3;
}
.scroll_tab_right_button:hover {
	background: #D4E4F3;
}
.dropdown-content.select-dropdown.multiple-select-dropdown.active {
	width: 100% !important;
}
/**/
.border-bottom-none {
	border-bottom: none !important
}
.border-top-none {
	border-top: none !important
}
.border-left-none {
	border-left: none !important
}
.border-right-none {
	border-right: none !important
}
.table-inside > tbody > tr > td {
	font-size: 12px;
}
table.dataTable.no-footer {
	border-bottom: 1px solid #cce4f2;
}
.dataTables_filter input {
	margin: 0 !important;
	padding: 2px 30px 2px 10px;
	font-weight: normal;
	color: #01588E;
}
.dataTables_filter label {
	position: relative;
}
.dataTables_filter label span {
	background: #d4e4f3;
	display: block;
	padding: 4px;
	position: absolute;
	right: 1px;
	top: 1px;
	color: #01588E;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 2px 7px !important;
	font-size: 11px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: rgba(1, 88, 142, 0.9) !important;
	border: 1px solid rgba(1, 88, 142, 1) !important;
	;
	color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: rgba(1, 88, 142, 0.5) !important;
	border: 1px solid rgba(1, 88, 142, 1) !important;
	;
	color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	border: 1px solid #9ec3e4;
}
.paginate_button.next.disabled:hover, .paginate_button.previous.disabled:hover {
	background: none!important;
	border: 1px solid transparent !important;
}
.table > thead > tr > th {
	border-bottom: 1px solid #cce4f2 !important;
	border-top: none;
}
.line-height21 {
	line-height: 21px !important;
}
.contact-wrap-text {
	font-size: 14px;
	font-weight: bold;
	height: 60px;
	padding: 10px 5px 10px 65px;
	text-align: center;
}
/*animate.css*/
.dropdown-menu {
	animation-duration: 0.3s;
}
.table tr {
	animation-duration: 0.3s;
	animation-duration: 1s;
}
.fixed-wrap {
	animation-duration: 2s;
}
/* --------------------CSS Document By Raja ------------------------------------------ */



/*--------------------------------Miles---------------------------------------*/	
.miles-bg-image {
	background-color: #1a2741;
	background-image: url("../images/bg-img.png");
	height: 100%;
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0;
	background-size: cover;
}
.login-page {
	height: 130px;
	left: 50%;
	margin-left: -112px;
	margin-top: -77px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 225px;
}
.terms {
	position: absolute;
	right: 0%;
	bottom: 0;
}
.terms ul li {
	color: #40536d;
}
.terms ul li a {
	border-right: 2px solid #40536d;
	padding-right: 12px;
}
.terms ul li:last-child a {
	border: medium none;
}
.logo {
	display: inline-block;
}
/*.logo img{
	margin-top:20%;
	;}	*/
.miles-bg-image p {
	color: #4f6581;
}
.google-btn {
	background: #d44330;
	box-shadow: 0 5px 0 #842a1e;
	font-size: 14px;
	padding-top: 7px;
	text-transform: uppercase;
}
.google-btn img {
	border-right: 1px solid #fff;
	padding-bottom: 1px;
	padding-right: 10px;
	margin-right: 10px;
}
.icon-google {
	padding-right: 10px;
	border-right: 1px solid #fff;
}
.mtb {
	margin-top: 10px;
	margin-bottom: 10px;
}
/*---------------------------home-page--------------------------------------------*/	 

.home-page {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -312px;
	margin-top: -160px;
}
.new-course {
	width: 625px;
	height: 250px;
	border: 1px solid #a9d2e8;
	text-align: center;
	margin: 0 auto;
}
.course {
	margin-top: 16%;
}
.add-course {
	color: #205081;
}
.course-btn {
	background: #00aaef;
	border: none;
}
/*--------------------------------fee-collection--------------------------------------------------*/   

.border-red {
	border: 1px solid #ee1c24;
}
.vertical-middle {
	padding-top: 15px;
	vertical-align: bottom;
}
.student-name {
	color: #93b6de;
	font-size: 12px;
	padding-top: 5px;
}
.custom-table {
	background: #0e5e91;
	color: #fff;
}
.custom-rows tr {
	border: none;
}
.custom-rows tr:hover {
	background: #0b6da4;
}
.proceed-btn {
	background: #00aaef none repeat scroll 0 0;
	border: medium none;
	margin-top: 20%;
	padding: 8px 25px 8px 15px;
	margin-left: 2px;
}
.symbol-red {
	color: #ee1c24;
}
label {
	display: inline-block;
	font-weight: 700;
	margin-bottom: 5px;
	margin-top: 5px;
	max-width: 100%;
}
.dataTables_filter label {
	margin-top: 0px;
}
.new {
	color: #168e4e;
}
/*----------------------fee-payment----------------------------------*/  

.user-info {
	background: #fff;
	padding-bottom: 10px;
	padding-left: 150px;
	padding-top: 10px;
	position: relative;/*  border: 1px solid #a9d2e8;*/
}
.user-image {
	border: 15px solid #ebf3f9;
	height: 83px;
	left: 20px;
	margin: 15px;
	position: absolute;
	top: 0;
	width: 83px;
}
.user-image img {
	width: 100%;
}
.user-image span {
	background: #01588e;
	color: #fff;
	display: block;
	left: -15px;
	padding: 0 1px;
	position: absolute;
	text-align: center;
	bottom: -22px;
	width: 83px;
}
.label-text {
	color: #a6c0e3;
	font-size: 12px;
	margin: 0px;
	line-height: 15px;
}
.label-data {
	border: none;
	color: #214f81;
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 0;
}
.fee-particulars {
	outline: none;
}
.nav-text {
	border-bottom: none;
	background: #cce4f2;
}
.nav-text li:hover a {
	border-radius: 0 !important;
	border-bottom: 4px solid #B7D8EC;
}
.nav-text li a:hover {
	background: #b7d8ec;
	border-color: transparent;
	border-radius: 0;
}
.nav-text li a {
	color: #79797B;
	font-weight: normal;
	border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border: none;
	border-bottom: 4px solid #01aaef;
	color: #01aaef;
	background: none;
	border-radius: 0;
	font-weight: bold;
}
.nav-tabs li a:hover {
	border-radius: 0 !important;
}
.border-bottom {
	border-bottom: 1px solid #ccc;
}
.paid-fee-head {
	color: #04578c;
}
/*---------------------------create-courses   00aaef---------------------------------------*/	
.table-custom {
	border-collapse: separate!important;
}
.table-custom tbody tr {
	color: #1d4f80;
	font-size: 12px;
	font-weight: normal;
}
.table tr {
	-webkit-animation-fill-mode: inherit !important;
	-moz-animation-fill-mode: inherit !important;
	animation-fill-mode: inherit !important;
}
.table-custom > thead > tr > th {
	border-right: 1px solid #CCE4F2;
	color: #205081;
}
.table-custom > thead > tr > th:last-child {
	border-right: none;
}
.table-custom tbody .selected td:first-child {
	padding-left: 8px;
}
.table-custom tbody tr td:first-child {
	padding-left: 8px;
}
.table-custom tbody tr.selected td {
}
.selected label {
	color: #00aaef;
}
.table-custom tbody tr td {
	background: #fff;
	position: relative;
	vertical-align: middle;
	border-bottom: 5px solid #E9F3FB;
	border-top: medium none;
}
/*.table-custom tbody tr td:first-child{
border-left:1px solid #a9d2e8;
}
.table-custom tbody tr td:before{
content:"";
position:absolute;
height:1px;
width:100%;
background:#a9d2e8;
top:0;
left:0;
}
.table-custom tbody tr td:after{
content:"";
position:absolute;
height:1px;
width:100%;
background:#a9d2e8;
bottom:0;
left:0;
}*/

/*.table-custom tbody tr.selected td:first-child {
  border-left: 5px solid #00aaef;
}
.table-custom tbody tr.selected td:last-child{
border-right:1px solid #00aaef;
}
.table-custom tbody tr.selected td:before{
content:"";
position:absolute;
height:1px;
width:100%;
background:#00aaef;
top:0;
left:0;
}*/
.rowspan-tr td {
	border-bottom: 1px solid #E9F3FB !important;
}
.rowspan-tr td:first-child {
	border-bottom: 5px solid #E9F3FB !important;
}
.rowspan-edit {
	background: #fff !important;
	border-right: 5px solid #e9f3fb;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.rowspan-td {
	background: #fff !important;
	border-right: 5px solid #e9f3fb;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.rowspan-td a {
	cursor: pointer;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	padding-top: 40%;
}
.rowspan-td a:hover, .rowspan-td a:focus {
	text-decoration: none;
}
.table-custom tbody tr.selected td {
	background: #CCE4F2;
}
.table-custom tbody tr:hover td {
	background: #CCE4F2;
}
.table-custom tbody tr.selected td:after {
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: 0;
	left: 0;
}
.table-custom > thead > tr > th {
	padding: 4px 8px;
}
.table-custom > tbody > tr > td {
	padding-top: 8px;
	padding-bottom: 8px;
}
.table-custom > tbody > tr > td label {
	margin: 0;
}
.table-custom > tbody > tr > td p {
	margin: 0;
}
.table-custom > tbody > tr > td > span {
	padding-left: 5px;
}
/*-------------------------------------masters page----------------------------------------------*/	
.masters-menu-style {
	background: #d4e4f3;
	left: 219px;
	position: fixed;
	top: 125px;
	width: 230px;
	border-right: 1px solid #b4cde9;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
}
.leftpanel-collapsed .masters-menu-style {
	left: 50px;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
}
.masters-menu-style ul {
	padding: 0px;/*border:1px solid #b4cde9;*/
}
.masters-menu-style ul li {
	border-bottom: 1px solid #b4cde9;
	color: #523355;
	list-style: outside none none;
}
.masters-menu-style ul li a {
	color: #205081;
	display: block;
	font-size: 13px;
	padding: 5px 35px 5px 10px;
	position: relative;
	width: 98%;
}
.masters-menu-style ul li.active {
	background: #94b7df;
}
.masters-menu-style ul li.active a {
	color: #fff;
}
.masters-menu-style ul li:hover {
	background: #c7dbef;
	color: #d64a2f;
	text-decoration: none;
}
.masters-menu-style ul li:hover a {
	color: #205081;
	text-decoration: none;
}
.masters-menu-style ul li a span {
	float: right;
	position: absolute;
	right: 0;
	top: 6px;
}
.masters-menu-info {
	padding: 15px 15px 15px 245px;
}
/*	
.table-custom tbody tr td:first-child {
	border-left: 5px solid transparent;
  color:#00aaef;
  }
.table-custom tbody tr:hover td:first-child {
	border-left: 5px solid #00aaef;
  color:#00aaef;
  }*/
.table-custom tbody tr .selected:hover:first-child {
	border-left: 5px solid #00aaef;
	color: #00aaef;
}
.table-info tbody tr.selected td {
	padding: 6px;
}
.table-info tbody tr td {
	padding: 6px;
}
.che input[type="checkbox"] {
	left: inherit;
	position: inherit;
	visibility: inherit !important;
}
.table-info thead tr th {
	padding: 5px;
	border-bottom: none;
}
.table-info thead tr {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.table-info tbody tr.selected {
	border: 2px solid #00aaef;
}
.ellips {
	color: #99bcd2;
}
.fee-head {
	background: #c0d7ed;
}
.fee-head .dropdown-menu li {
	font-size: 12px;
}
.fee-head-btn {
	background: #c0d7ed;
	color: #01588e;
}
.feehead-list {
	left: 6px;
	right: 27px;
	top: 1px;
	text-align: center;
}
.feehead-list a i {
	color: #a8c6d8;
}
.feehead-list .dropdown-menu {
	padding-top: 6px;
	right: 1px;
	top: -8px;
}
.feehead-list .dropdown-menu li {
	font-size: 12px;
}
/*------------------------------------Fee-collection-table---------------------------------------------*/
.table-custom thead tr.table-collect {
	border: 1px solid #ccc;
}
.table-custom thead .table-collect th {
	padding: 10px;
}
.table-custom tbody .table-collect td input {
	margin: 0;
	padding: 0;
}
.table-custom tbody .table-collect td {
	border-bottom: none;
	padding: 10px;
}
.table-custom tbody .table-collect td label {
	margin: 0px;
}
.table-custom tbody .table-collect td:first-child {
	border-left: none;
}
.table-custom tbody .table-collect td {
	border-top: none;
}
.table-custom tbody .table-collect td span {
	background: #d2f4cd;
	padding: 2px;
	text-align: center;
}
/*-------------------------------------Batches-list(1)-------------------------------------------------------------*/	
.bg-orang {
	background: #fba737;
}
.bg-light-orang {
	background: #c9862c;
}
.bg-green {
	background: #7cc343;
}
.bg-light-green {
	background: #639c36;
}
.bg-pink {
	background: #f07091;
}
.bg-skyblue {
	background: #72cbd1;
}
.batch-info {
	color: #fff;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	text-transform: capitalize;
}
.batch-num {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	padding: 2px 10px;
}
.branches-list-view .batch-num {
	width: 95%;
	padding: 8px 10px;
}
.batch-text {
	display: inline-block;
	font-size: 13px;
	vertical-align: text-bottom;
	padding-left: 2px;
}
.batch-cpa {
	display: block;
	font-size: 18px;
}
/*-----------------------Batch-info------------------------------------------------------*/ 
.batch-data {
	background: #fff;
}
.userworking-img {
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	overflow: hidden;
	vertical-align: middle;
	width: 50px;
	float: left;
}
.userworking-info-wrap .img-data {
	width: 62%;
}
.img-circle img {
	max-width: 100%;
}
.icon-data {
	width: 50px;
	height: 50px;
	font-size: 30px;
	text-align: center;
	padding-top: 8px;
	color: #00aaef;
	float: left;
}
.batch-btn {
	background: #f0f7fc;
}
.more-option a {
	background: #00aaef;
	color: #fff;
	cursor: pointer;
	height: 24px;
	position: absolute;
	right: -23px;
	text-align: center;
	text-transform: uppercase;
	top: 23px;
	transform: rotate(-90deg);
	width: 70px;
	text-decoration: none;
}
.table-custom tbody tr td span a {
	text-decoration: none;
}
/*-------------------------filters----------------------------------------------*/


.accordian-wrapper {
	margin-bottom: 10px;
	list-style: none;
}
.accordian-heading {
	border: 1px solid #e1e1e1;
	padding: 10px;
	color: #01588e;
	font-weight: bold;
}
.accordian-content {
	display: none;
	border: 1px solid #e1e1e1;
	padding: 10px;
	border-top: none;
}
.accord-arrow {
	float: right;
	transition: all ease 0.3s;
	font-weight: bold;
}
.accordian-container {
	padding: 0;
}
.accordian-heading.active .accord-arrow {
	transform: rotate(180deg);
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
}
.search-icon {
	color: #413c3c;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 7px;
}
.search-icon i {
	font-weight: bold;
}
.filter-search input {
	margin-bottom: 5px;
	padding: 5px;
}
.filter-search {
	position: relative;
}
.accordian-content .input-field label {
	margin: 0;
}
/*---------------Contacts-----------------------------------*/
.custom-select .select-wrapper input {
	background: #D4E4F3;
	border: none;
	color: #00578c;
}
.custom-select .select-wrapper::before {
	border-top: 5px solid #00578c;
}
.custom-select .select-wrapper .select-dropdown {
	margin-bottom: 5px;
}
.contact-wrap {
	height: 60px;
	line-height: 60px;
	padding: 7px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 60px;
}
.contact-wrap span {
	border-radius: 50%;
	display: block;
	height: 45px;
	line-height: 42px;
	width: 45px;
}
/*-------Styles by Ramesh-------- */
.batch-btn, .batch-btn td {
	background: transparent !important;
}
.input-field label em {
	color: red;
	font-style: normal;
	font-size: 15px;
	vertical-align: middle;
}
.file-field span em {
	color: red;
	font-style: normal;
	font-size: 15px;
}
.multiple-radio label em {
	color: red;
	font-style: normal;
	font-size: 15px;
	vertical-align: middle;
}
.search-filter .dropdown-content {
	top: 32px !important;
}
.checkbox-view {
	display: inline-block;
	margin-right: 5px !important;
	margin-top: 2px !important;
	position: static !important;
	vertical-align: top;
	visibility: visible !important;
}
.mr5 {
	margin-right: 5px !important;
}
/*---------------Events-details------------------------------------*/
.attachment-num .attachment {
	float: right;
	padding: 7px 10px;
	border-radius: 50%;
	background: #1a538d;
	color: #fff;
	font-size: 16px;
}
.num2 {
	position: absolute;
	padding: 2px;
	border-radius: 50%;
	backgroung: #f00;
	top: 0;
	right: 0;
}
/*----------------------User-Management------------------------------------------*/	
.image-td {
	display: inline-block;
	float: left;
	width: 40px;
	height: 40px;
}
.image-td img {
	width: 100%;
	height: 100%;
}
.table .user-name {
	max-width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.user-name {
	display: inline-block;
	margin-top: 11px;
	padding-left: 10px;
}
/*--------------------------Permissions--------------------------------------*/
.input-area {
	text-transform: capitalize;
	width: 78px;
	margin-left: 15px;
}
.permission-menu {
}
.permission {
	margin: 0 auto;
	background: #fff;
}
.permission .permission-list {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
}
.permission .permission-list:last-child {
	border: none;
}
.menu-check {
	vertical-align: 15px;
}
.heading-uppercase span label {
	margin-right: 0px;
}
/*----------branch-info-------------------*/
.heading-uppercase .slide-down {
	text-decoration: none;
}
/*------------------Campaign-list----------------------------------*/	
.camp-text {
	display: inline-block;
	color: #025589;
	font-weight: bold;
}
.camp-num {
	font-weight: bold;
	font-size: 16px;
}
/*-------------------Campaign-info----------------------------------------------*/	
.report-chart {
	background: #fff;
	display: inline-block;
}
.report-chart img {
	width: 100%;
}
.campaign-template {
	background: #b2cdea;
}
.template-image {
	padding: 10px;
	background: #fff;
	display: inline-block;
}
.template-image img {
	width: 100%;
}
/*------------Campaign create--------------------------*/
.attached-template {
	padding: 100px 150px;
	text-align: center;
}
/*-------------Product-Mapping------------------------------------------*/
.product-map-edit {
	position: absolute;
	right: 0px;
	text-align: center;
	top: 10px;
}
.product-map-edit .dropdown-menu {
	background: #d4e4f3;
}
.product-map-edit .dropdown-menu > li > a {
	background: #d4e4f3;
}
.product-map-edit .dropdown-menu li a:hover, .dropdown-menu li a:focus {
	background-color: #e5eff8;
	color: #205080;
	text-decoration: none;
}
.product-map-edit i {
	padding-left: 15px;/*color: #a8c6d8;*/
}
.product-map-menu {
	margin: -6px -28px 0;
	background: #d4e4f3;
}
.product-map-edit .dropdown-menu {
	padding-top: 6px;
	right: 28px;
	top: -2px;
}
.popover-title {
	background-color: #123259;
	border-bottom: 1px solid #123259;
	border-radius: 5px 5px 0 0;
	font-size: 14px;
	margin: 0;
	padding: 8px 14px;
	color: #fff;
}
.popover-content {
	background: rgba(18, 50, 89, 0.6);
	border: medium none;
	padding: 9px 25px;
	color: #fff;
	max-height: 180px;
	overflow-y: auto;
}
.popover-content p label {
	color: #fff;
}
.popover {
	border: none;
	padding: 0;
	max-width: 300px;
}
.popover.top > .arrow::after {
	border-bottom-width: 0;
	border-top-color: #71849B;
	bottom: 1px;
	content: " ";
	margin-left: -10px;
}
.popover > .arrow::after {
	border-width: 10px;
	content: "";
}
.acc-info-label {
	color: #1d4f80;
	display: inline-block;
	font-weight: normal;
	min-width: 110px;
}
.popover-title .close {
	color: #fff;
	opacity: 0.6;
}
.popover-title .close:hover {
	opacity: 7;
}
.popClose {
	background: #000;
	border-radius: 50%;
	cursor: pointer;
	height: 19px;
	left: -10px;
	line-height: 15px;
	position: absolute;
	text-align: center;
	top: -10px;
	width: 19px;
	color: #fff;
}
/*By ramesh*/
/*-------Leads Dashboard-------- */

.font-bold {
	font-weight: 600;
}
.search-filter .select-wrapper input.select-dropdown {
	height: 30px;
	padding: 0px 5px;
}
.search-filter .select-wrapper::before {
	top: 13px;
}
.dark-sky-blue {
	color: #00AAEF !important
}
.table-customised {
	background: #fff none repeat scroll 0 0;/* border: 1px solid #a8dff8;*/
}
.table-customised > thead > tr > th, .table-customised > thead > tr > td, .table-customised > tbody > tr > td {
	border-top: none;
	vertical-align: middle;
	min-width: 90px;
	padding-bottom: 0;
	padding-right: 0;
}
.table-customised td p {
	font-size: 13px;
	margin-bottom: 2px;
}
.table-customised tr td {
	border-right: 1px solid #D4E4F3;
}
.list-info {
	border-top: 1px solid #D4E4F3;
	margin-bottom: 0;
	margin-top: 5px;/* padding: 6px 3px;*/
}
.list-info li {
	display: inline-block;
	padding: 6px 8px;
	font-size: 12px;
	color: #1e5081;
	float: left;
	margin-right: 10px;
}
.list-info li:last-child {
	border-right: 0;
}
.list-info label {
	color: #9daebe;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}
.clabel {
	display: inline-block;
	min-width: 55px;
}
.ml5 {
	margin-left: 5px;
}
.tabs-section .nav-tabs {
	border-bottom: 1px solid #01568c;
}
.tabs-section .nav-tabs li {
	width: 25%;
}
.tabs-section .nav-tabs li.active a, .tabs-section .nav-tabs li.active a:hover, .tabs-section .nav-tabs li.active a:focus {
	border-bottom: 3px solid #01568c !important;
	color: #06578e;
	font-weight: 500;
}
.tabs-section .nav-tabs li a {
	color: #6d6d6d;
	font-weight: 500;
	border-bottom: 3px solid transparent;
	padding: 5px;
	display: block;
}
.tabs-section .nav-tabs li > a:hover, .tabs-section .nav-tabs li > a:focus {
	background-color: transparent;
	border-color: transparent;
	text-decoration: none;
}
.tabs-filter .select-wrapper input.select-dropdown {
	background: #e3edf7 none repeat scroll 0 0;
	color: #06578e;
	height: 35px;
	margin-bottom: 0;
}
.tabs-filter .select-wrapper::before {
	top: 16px;
}
.form-wrapper .control-label {
	font-size: 14px;
	font-weight: 500;
}
.custom .file-path {
	margin-bottom: 0;
}
.width60 {
	width: 60% !important;
}
.valign-middle {
	vertical-align: middle !important;
}
.max-width100px {
	max-width: 100px;
}
.icons-list ul {
	padding-left: 0;
}
.icons-list li {
	display: inline-block;
	font-size: 22px;
	vertical-align: top;
	width: 19%;
	text-align: center;
}
.icons-list li a {
	color: #00aaef;
	display: block;
	padding: 8px;
	text-decoration: none !important;
}
.icons-list li.active-icon a, .icons-list li:hover a {
	background: #EBF2FA;
}
.icons-list li a span {
	color: #555;
}
.border-radius0 {
	border-radius: 0 !important;
}
.max-width130px {
	max-width: 128px;
}
.label-tags label:nth-child(3) {
	background: rgba(0, 0, 0, 0);
}
.popover-content p {
	margin-bottom: 0;
	display: inline-block;
	padding: 0 5px;
}
.popover-content {
	font-family: 'Lato', sans-serif;
}
.img-wrap {
	height: 58px;
	overflow: hidden;
	width: 58px;
	border-radius: 50%;
}
.mtop10 {
	margin-top: 10px !important;
}
/*--------------Nested-table-----------------*/
.table-inside {
	border-collapse: separate !important;
}
.table-inside > thead > tr > th {
	color: #205081;
}
.table-inside tbody tr td:first-child {
	padding-left: 8px;
}
.table-inside > tbody > tr > td {
	padding-bottom: 8px;
	padding-top: 8px;
}
.table-inside thead tr th {
	line-height: 20px;
	padding: 3px 5px;
	border-right: 1px solid #cce4f2;
	color: #205081;
}
.table-inside thead tr th:last-child {
	border-right: none;
}
.table-rightside tbody tr:hover td {
	background: #CCE4F2;
}
.table-rightside tbody tr td {
	border-bottom: 5px solid #e9f3fb;
	border-top: medium none;
	position: relative;
	vertical-align: middle;
}
.table-inside tbody tr td {
	border-bottom: 5px solid #e9f3fb;
	position: relative;
	vertical-align: middle;
}
.table-rightside tbody tr {
	color: #1d4f80;
	font-size: 12px;
	font-weight: normal;
}
.table-inside .td-leftside {
	background: #fff;
	text-align: center;
}
.table-inside .td-rightside {
	border-bottom: medium none;
	border-left: 5px solid #e9f3fb;
	padding: 0;
}
.table-inside > tbody > tr > td {
	border-top: none;
}
/*RECEIPT PRINTABLE*/
.receipt-printable {
	min-height: 450px;
	width: 788px;
	border-left: 4px solid #00051F;
	border-bottom: 4px solid #01588e;
	border-right: 5px solid #00051F;
	border-top: 5px solid #01588e;
	background: #D4E4F3;
	margin: 0 auto;
	display: none;
}
.receipt-header {
	height: 56px;
	background: #00051F;
}
.left-logo {
	float: left
}
.right-logo {
	background: #fff;
	float: right;
	height: 52px;
	width: 115px;
	text-align: center;
	position: relative;
	z-index: 1
}
.right-logo img {
	max-height: 100%;
	max-width: 100%;
	padding: 2px;
	position: relative;
	z-index: 2
}
.right-logo:before {
	background: #fff;
	content: "";
	height: 42px;
	left: -5px;
	position: absolute;
	top: 5px;
	width: 5px;
}
.right-logo:after {
	background: #fff;
	content: "";
	height: 52px;
	left: 0;
	top: 0;
	position: absolute;
	width: 115px;
	z-index: 0;
}
span.text-header {
	width: 540px;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	color: #000;
}
.receipt-printable .wrapper td {
	vertical-align: top;
	color: #000
}
.receipt-printable table.total {
	color: blue;
}
.print_reciept .wrapper {
	background: transparent;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	min-height: 18.75em;
	padding: 0;
	position: relative;
	width: 748px;
}
.print_reciept .wrapper h1 {
	color: #000;
	font-size: 21px;
	margin-bottom: 2px !important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	text-align: center;
}
.print_reciept .wrapper p {
	color: #000;
	font-size: 14px;
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
}
.feeDetails thead tr td, .feeDetails tbody td {
	padding: 5px;
}
.studentDetails, .feeDetails, .total {
	width: 100%;
}
.hints > li:first-child {
	margin-left: 0;
}
.hints > li {
	display: inline-block;
	font-size: 11px;
	margin-left: 12px;
}
.hints > li > i {
	display: inline-block;
	height: 9px;
	margin-right: 5px;
	width: 9px;
}
.hints > li:last-child {
	padding-right: 0px;
}
/*----------daily revenue posting----------------------------*/
.revenue-post {
	padding: 0;
}
.table.balance-table {
	border-bottom: medium none;
	color: #04578c;
}
.table.balance-table tbody tr td {
	border-top: medium none;
	text-align: right;
	font-size: 13px;
}
.table.balance-table tbody tr:last-child td {
	background: #d8e0ee;
}
.balance-table tbody tr td:last-child {
	font-weight: bold;
	text-align: right;
	width: 150px;
}
/*------------------------Branch-info-----------------------------*/
.students-info {
	margin: 3px;
}
.students-info h4 {
	font-size: 14px;
	color: #00aaef;
	margin-bottom: 0px;
	padding: 3px;
	margin-top: 0px;
	font-weight: bold;
}
.students-info .icon-data {
	text-align: left;
}
.student-icon {
	color: #00aaef;
	display: inline-block;
	font-size: 30px;
	height: 50px;
	text-align: center;
	vertical-align: top;
	width: 25%;
}
.students-info .student-data {
	display: inline-block;
	padding: 0 0 0 10px;
	width: 36%;
}
.student-data p {
	color: #748fad;
	min-height: 25px;
	padding-top: 6px;
}
.paid-info {
	line-height: 48px;
	margin: 3px;
	padding: 10px;
	text-align: center;
	height: 147px;
}
.paid-info h4 {
	color: #00aaef;
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 5px;
}
.paid-icon {
	color: #00aaef;
	display: block;
	font-size: 30px;
	padding-top: 5px;
	text-align: center;
}
.paid-data p {
	color: #748fad;
}
.student-custom {
	width: 100%;
	display: inline-block;
}
.student-paid {
	display: inline-block;
	width: 20%;
}
.student-custom.addpaid .student-wrap {
	width: 79%;
}
.student-wrap {
	width: 100%;
}
.autocomplete-content {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc;
	list-style: outside none none;
	margin-top: -1.9rem;
	padding: 0;
	position: absolute;
	width: 100% !important;
	z-index: 7;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.autocomplete-content li {
	clear: both;
	color: #1b558c;
	cursor: pointer;
	line-height: 0;
	width: 100%;
	text-align: left;
	text-transform: none;
	padding: 5px;
}
.autocomplete-content li > span {
	font-size: 12px;
	padding: 1.2rem;
	display: block;
}
.autocomplete-content li > span .highlight {
	color: #000000;
}
.autocomplete-content li:hover {
	background: #EEEEEE;
	cursor: pointer;
}
/*----------Batch-info-----------------------------*/	
.lt-red-bg td {
	position: relative;
}
.lt-red-bg td:first-child::before {
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	border-left: 3px solid #f00;
}
.lt-green-bg td {
	position: relative;
}
.lt-green-bg td:first-child::before {
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	border-left: 3px solid #53C24D;
}
.lt-blue-bg td {
	position: relative;
}
.lt-blue-bg td:first-child::before {
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	border-left: 3px solid #029bd7;
}
.batch-head {
	width: 100%;
}
.batch-wrap {
	width: 33.1%;
}
body.batch-hideshow .batch-paid {
	display: block;
}
body.batch-hideshow .batch-wrap {
	width: 24.8%;
	float: left;
}
/*.batch-custom{
	width:33.1%;
	}*/
body .batch-paid {
	display: none;
}
.batch-paid {
	width: 25.5%;
	float: left;
}
.batch-total-info {
	width: 100%;
}
.batch-data-info {
	width: 24.1%;
	display: inline-block;
	padding-left: 10px;
}
.batch-due {
	width: 32.5%;
	display: inline-block;
	padding-left: 7px;
}
.batch-total-due {
	width: 49.5%;
	display: inline-block;
	padding-left: 10px;
}
.company-name-wrap {
	background: #f4f4f4;
	height: 60px;
	margin-bottom: 10px;
	position: relative;
	top: 0px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-top: none;
}
.custom-select-nomargin input {
	margin-bottom: 0 !important;
}
.company-name-wrap .input-field input {
	margin-left: 4px;
	width: 80%;
	height: 30px;
	position: absolute;
	left: 5px;
	padding: 10px 5px 0;
}
.company-name-wrap .input-field label {
	font-size: 12px;
	left: 15px;
	position: absolute;
	top: 0;
}
.company-name-wrap .company-icon-right {
	left: -35px;
	position: absolute;
	top: 2px;
}
.company-name-wrap .company-icon-cancel {
	left: -12px;
	position: absolute;
	top: 2px;
}
.dataTables_processing {
	z-index: 123;
}
.hiddendiv.common {
	display: none;
}
.line-height15 {
	line-height: 15px !important;
}
.branch-info-right-text {
	margin: 0 5px;
	padding: 2px;
}
.modal {
	z-index: 1100;
}
.modal-backdrop {
	z-index: 1095;
}
.batch-info .branch-info-right-text:nth-of-type(3) {
	border-bottom: none;
}
.user-mail-custom a {
	width: 80%;
	float: right;
	word-break: break-all;
}
/*-------Media Queries-------- */
@media (max-width: 1366px) {
.fixed-wrap {
	width: 100%;
}
.img-circle, .img-wrap {
	height: 42px;
	/* padding-right: 5px;*/
	width: 42px;
}
.img-wrap {
	padding-right: 0;
}
.img-wrap img {
	width: 100%;
}
.more-option a {
	line-height: 24px;
	right: -22px;
	top: 23px;
	width: 70px;
}
.label-data {
	font-size: 13px;
}
.list-info {
	text-align: left;
}
.list-info label {
	margin: 0;
}
.list-info li {
	border-right: none;
	display: block;
}
.receipt-printable {
	width: 100%;
}
.print_reciept .wrapper {
	width: 100%;
}
}
@media (max-width: 1280px) {
.batch-data .img-circle {
	float: none;
	display: block;
}
.img-data {
	padding-left: 0;
}
.more-option a {
	right: -42px;
	top: 41px;
	width: 109px;
}
.icon-data {
	display: block;
	text-align: left;
	width: 100%;
}
.userworking-info-wrap .img-data {
	width: 100%;
}
.table-custom.callschedule-table > thead > tr > th > span i {
	padding: 0 0 0 2px;
}
.call-user {
	float: left;
}
.students-info .student-data {
	width: 32.1%;
}
.table.table-responsive.table-custom.callschedule-table tr td {
	padding: 2px;
}
.table.table-responsive.table-custom.callschedule-table tr th {
	padding: 0px;
}
.table-inside thead tr th {
	line-height: 20px;
}
.contact-wrap-text {
	font-size: 14px;
}
.branch-info-right-text {
	margin: 0 5px;
	padding: 2px;
}
.branch-iocn-wrap {
	height: 85px;
	width: 85px;
}
.branches-list-view .batch-info {
	height: 85px;
}
.branch-iocn-wrap-img {
	height: 45px;
	line-height: 39px;
	margin: 0 8px;
	width: 45px;
}
}
@media (max-width: 1279px) {
.batch-info-wrap {
	width: 25%;
	margin-top: 5px;
	margin-bottom: 5px;
}
.branch-iocn-wrap {
	height: 85px;
	width: 70px;
}
.branch-iocn-wrap-img {
	height: 45px;
	width: 45px;
	line-height: 40px;
}
.branch-info-right {
	padding-left: 65px;
}
.branch-iocn-wrap-img img {
	width: 66%;
}
.contact-wrap {
	height: 60px;
	line-height: 60px;
	padding: 7px;
	width: 60px;
}
.contact-wrap-text {
	font-size: 13px;
	font-weight: bold;
	height: 60px;
	padding: 10px 5px 10px 65px;
}
.contact-wrap span {
	padding-right: 1px;
}
.user-mail-custom a {
	width: 71%;
}
}
@media (max-width: 1100px) {
.branches-list-view .branch-info-right .batch-num {
	font-size: 13px;
}
.branches-list-view .batch-info {
	height: 75px;
}
.branch-iocn-wrap {
	height: 75px;
}
.branch-iocn-wrap-img {
	margin: 0;
}
.branch-iocn-wrap-text {
	font-size: 12px;
}
.branch-iocn-wrap-img {
	height: 35px;
	line-height: 30px;
	width: 35px;
}
.branch-info-right {
	padding-left: 69px;
}
}
 @media (max-width: 1024px) {
.camp-text {
	font-size: 12px;
}
.menutoggle {
	pointer-events: none;
}
/*.batch-num {font-size:12px !important;padding:4px 5px !important;}*/

.students-info .student-data {
	width: 32.1%;
}
.branches-list-view .batch-info {
	height: 75px;
}
.batch-info-wrap {
  height: 75px;
}
}
